.task{
    width: 95%;
    min-height: 1.5rem;
    color: white;
    background-color: #152039;
    border-radius: 2rem;
    margin-bottom: 0.2rem;
    padding: 0.6rem;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    &__formSubmit{
        position:relative;
    }
    &__modifyInput{
        width: 100%;
    }
    &__button{
        &__modify{
            background: none;
            color: inherit;
            border: none;
            padding: 0;
            font: inherit;
            cursor: pointer;
            outline: inherit;
            color:orange;
            &:hover{
                transform: scale(1.4);
                cursor: pointer;
            }
        }
        &__check{
            position:absolute;
            top: 5px;
            right: 5px;
            background: none;
            color: inherit;
            border: none;
            padding: 0;
            font: inherit;
            cursor: pointer;
            outline: inherit;
            color: green;
            &:hover{
            transform: scale(1.4);
            cursor: pointer;
            }
        }
        &__delete{
            background: none;
            color: inherit;
            border: none;
            padding: 0;
            font: inherit;
            cursor: pointer;
            outline: inherit;
            color:red;
            &:hover{
                transform: scale(1.4);
                cursor: pointer;
            }
        }

    }
    &__text {
        width: 90%;
        word-wrap: break-word;   
   
    }
}
.container__button{
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.container__text{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0rem 0.4rem;
    width: 70%;
    margin: 0.2rem 0.8rem;
    letter-spacing: 0.1rem;
}

@media (max-width: 1260px) { 
    .task{
        &__button {
            &__text{
                font-size: 0.9rem;
            }
        }
    }
    .task__button{
        margin: 0rem 0.4rem;
    }
    .container__text{
        padding: 0.2rem 0.4rem;
        margin: 0.2rem 0.4rem;
    }
}
@media (max-width: 900px) { 
    .task__text{
        font-size: 0.9rem;
    }
    
    }
